<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM AUTOMATION">
  <test thread-count="5" name="FREE CRM TEST CASES">
    <classes>
      <class name="com.crm.qa.testcases.LoginPageTest"/>
      <class name="com.crm.qa.testcases.HomePagetest"/>
      <class name="com.crm.qa.testcases.ContactsPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
